* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
}
.bg-gray-200 {
    background-color: #f0f2f5!important;
}
.side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background: linear-gradient(141.16deg, #FFAD32 20.65%, #F57B36 99.44%);
    transition: 0.5s;
}

.my-container .navbar {
    background-color: #fff;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

.parent-profile {
    height: 100px;
}

.img-round-profile,
.img-profile {
    background-size: cover;
    background-position: center;
    /* min-height: 300px; */
}
.img-profile {
    min-height: 300px;
}

.active {
    background-color: rgba(255, 255, 255, 0.322);
}

#logout,
.pointer {
    cursor: pointer;
}
.text-mapel-santri {
    font-size: 0.8rem;
}
.table-jadwal tr td,
.table-jadwal tr th,
.size-08 {
    font-size: 0.8rem;
}

/* for main section */
.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: transparent;
    color: #F57B36;
    margin-left: -35px;
    border: 1px solid #F57B36;
}
.btn-primary,
.text-bg-success {
    color: #fff;
    background: linear-gradient(141.16deg, #FFAD32 20.65%, #F57B36 99.44%);
    border: transparent;
}
.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background: linear-gradient(141.16deg, #ffb74b 20.65%, #f59157 99.44%);
    box-shadow: unset;
}
.btn-outline-warning {
    color: #F57B36;
    border: 1px solid #F57B36;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus {
    color: #F57B36;
    border: 1px solid #F57B36;
    background-color: rgba(245, 123, 54, 0.3);
    box-shadow: unset;
}
.active>.page-link, .page-link.active {
    background: linear-gradient(141.16deg, #FFAD32 20.65%, #F57B36 99.44%);
    border: transparent;
}
/* .card-profile {
    width: 50%;    
}

@media (max-width: 992px) { 
    .card-profile {
        width: 60%;
    }
}

@media (max-width: 768px) { 
    .card-profile {
        width: 70%;
    }
} */

/* @media (max-width: 576px) { 
    .card-profile {
        width: 80%;
    }
} */
  